.btn {
  background-image: none !important;
}

.navbar-inner {
  background-image: none !important;
}

#navbar .navbar-inner .nav > li > a:hover {
  background-image: none !important;
  border-radius: 7px;
}

#navbar .navbar-inner .nav > li {
  margin-left: 2px;
  margin-right: 2px;
}
